<{strip}>

<{include file="db:bulletin2_head.html"}>

<div style="text-align: left;">
<{if $pagenav}>Page <{$pagenav}><{/if}></div>

<div>
<{include file="db:bulletin2_item.html" story=$story}>
</div>

<div style="text-align: left;">
<{if $pagenav}>Page <{$pagenav}><{/if}></div>

<{if $disp_print_icon or $disp_tell_icon}>
  <div style="text-align: right;">
  
  <{if $disp_print_icon}>
    <a href="<{$myurl}>/print.php?storyid=<{$story.id}>">
    <img src="<{$myurl}>/images/print.gif" border="0" alt="<{$lang_printerpage}>" /></a>&nbsp;
  <{/if}>
  
  <{if $disp_tell_icon}>
    <a target="_top" href="<{$mail_link}>">
    <img src="<{$myurl}>/images/friend.gif" border="0" alt="<{$lang_sendstory}>" /></a>
  <{/if}>
  
  </div>
<{/if}>
<br />

<div style="text-align: center;">
<{$commentsnav}>
<{$lang_notice}>
</div>

<div>
<!-- start comments loop -->
<{if $comment_mode == "flat"}>
<{include file="db:system_comments_flat.html"}>
<{elseif $comment_mode == "thread"}>
<{include file="db:system_comments_thread.html"}>
<{elseif $comment_mode == "nest"}>
<{include file="db:system_comments_nest.html"}>
<{/if}>
<!-- end comments loop -->
</div>
<{include file='db:system_notification_select.html'}>

<{/strip}>