<{strip}>

<{include file="db:`$mydirname`_head.html"}>

<{if $displaynav == true}>
  <div style="text-align: center;">
    <form name="form1" action="<{$mydirurl}>/index.php" method="get">
      <{$topic_select}>&nbsp;
      <select name="storynum">
       <{foreach item=o from=$option}>
        <option value="<{$o.option}>"<{$o.sel}>><{$o.option}></option>
       <{/foreach}>
      </select>&nbsp;
      <input type="submit" value="<{$smarty.const._GO}>" />
    </form>
  </div>
<{/if}>

<!-- start news item loop -->
<{section name=i loop=$stories}>
  <{include file="db:`$mydirname`_item.html" story=$stories[i]}>
  <br />
<{/section}>
<!-- end news item loop -->

<div style="text-align: right;"><{$pagenav}></div>
<{include file='db:system_notification_select.html'}>

<{/strip}>