function submitRelations(form, check)
{
	content = getContents();
	content += bulid(form, check);
	setContents(content, 1);
}

function updateRelations(form, check)
{
	content = bulid(form, check);
	setContents(content, 0);
}

function bulid(form, check)
{
	ret = '';

	MyFrom = eval( 'document.'+form+'.elements' );
	if(MyFrom['storyidR[]']){
		count = MyFrom['storyidR[]'].length;
		if( count > 0 ){
			for(i=0;i<count;i++){
				if( MyFrom['storyidR[]'][i].checked == check){
					storyid = MyFrom['storyidR[]'][i].value;
					title = MyFrom['titleR[]'][i].value;
					dirname = MyFrom['dirnameR[]'][i].value;
					ret += '<input type="checkbox" name="storyidR[]" value="' + storyid + '" />';
					ret += '<input type="hidden" name="titleR[]" value="' + title + '" />';
					ret += '<input type="hidden" name="dirnameR[]" value="' + dirname + '" />';
					ret += '<input type="hidden" name="storyidRH[]" value="' + storyid + '" />';
					ret += ''+title+'<br />';
				}
			}
		}
	}

	return ret;
}

function getContents()
{
	if (document.getElementById){
		ret = window.opener.document.getElementById("relation").innerHTML;
		return ret;
	}
	return false;
}

function setContents(content, subwindow)
{
	if (document.getElementById){
		if( subwindow ){
			window.opener.document.getElementById("relation").innerHTML=content;
		}else{
			document.getElementById("relation").innerHTML=content;
		}
		return true;
	}
	return false;
}