<{strip}>
<table width="100%" border="0" cellspacing="1" class="outer">
  <tr>
    <td class="odd">
      <h4><a href="<{$myurl}>/admin/"><{$admin_title}></a>&nbsp;&raquo;&raquo;&nbsp;<a href="<{$myurl}>/admin/index.php?op=topicsmanager"><{$_MI_BULLETIN_ADMENU2}></a>&nbsp;&raquo;&raquo;&nbsp;<{$_AM_MODIFYTOPIC}></h4>
    </td>
  </tr>
</table>
<br />

<form method="post" action="index.php">
  <table class="outer" cellspacing="1" width="100%">
    <tbody>
      <tr>
        <th colspan="2"><{$_AM_MODIFYTOPIC}></th>
      </tr>
      <tr>
        <td class="head" width="100"><{$_AM_TOPICNAME}></td>
        <td class="even"><input type="text" name="topic_title" size="20" maxlength="40" value="<{$topic_title}>" /> <{$_AM_MAX40CHAR}></td>
      </tr>
      <tr>
        <td class="head" width="100"><{$_AM_PARENTTOPIC}></td>
        <td class="even"><{$topicselbox}></td>
      </tr>
      <tr>
        <td class="head" width="100"><{$_AM_TOPICIMG}></td>
        <td class="even">
          <{if $topic_imgurl}>
            <img src="<{$topic_imgdir}><{$topic_imgurl}>" alt="" /><br />
          <{/if}>
          <select size="1" name="topic_imgurl">
          <option value=" ">------</option>
          <{foreach item=i from=$images}>
            <option value="<{$i.image}>" <{$i.option}>><{$i.image}></option>
          <{/foreach}>
          </select><br /><{$_AM_IMGNAEXLOC}>
        </td>
      </tr>
      <tr>
        <td class="head"></td>
        <td class="even">
          <input type="hidden" name="op" value="modTopicS" />
          <input type="hidden" name="topic_id" value="<{$topic_id}>" />
          <input type="button" value="<{$_AM_DEL}>" onclick="location='index.php?topic_pid=<{$topic_pid}>&amp;topic_id=<{$topic_id}>&amp;op=delTopic'" />
          &nbsp;<input type="submit" value="<{$_AM_SAVECHANGE}>" />
          &nbsp;<input type="button" value="<{$_AM_CANCEL}>" onclick="javascript:history.go(-1)" />
        </td>
      </tr>
    </tbody>
  </table>
</form>

<{include file="$template_path/bulletin_footer.html"}>

<{/strip}>