<{strip}>

<table width="100%" border="0" cellspacing="1" class="outer">
  <tr>
    <td class="odd">
      <h4><{$admin_title}></h4>
      <table border="0" cellpadding="4" cellspacing="1" width="100%">
      <{foreach item=i from=$items}>
        <tr class="bg1" align="left">
          <td width="200"><span class="fg2"><a href="<{$i.link}>"><{$i.title}></a></span></td>
          <td><span class="fg2"><{$i.desc}></span></td>
        </tr>
      <{/foreach}>
        <tr class="bg1" align="left">
          <td><span class="fg2"><a href="<{$xoops_url}>/modules/system/admin.php?fct=preferences&op=showmod&mod=<{$module_id}>"><{$_MI_BULLETIN_ADMENU1}></a></span></td>
          <td><span class="fg2"><{$_MI_BULLETIN_ADMENU1_D}></span></td>
        </tr>
        <tr class="bg1" align="left">
          <td><span class="fg2"><a href="<{$myurl}>/admin/index.php?op=convert"><{$_MI_BULLETIN_ADMENU7}></a></span></td>
          <td><span class="fg2"><{$_MI_BULLETIN_ADMENU7_D}></span></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<{include file="$template_path/bulletin_footer.html"}>

<{/strip}>