<{strip}>
<table width="100%" border="0" cellspacing="1" class="outer">
  <tr>
    <td class="odd">
      <h4><a href="<{$myurl}>/admin/"><{$admin_title}></a>&nbsp;&raquo;&raquo;&nbsp;<{$_MI_BULLETIN_ADMENU2}></h4>
    </td>
  </tr>
</table>
<br />
<form method="post" action="index.php">
  <table class="outer" cellspacing="1" width="100%">
    <tbody>
      <tr>
        <th colspan="2"><{$_AM_ADDMTOPIC}></th>
      </tr>
      <tr>
        <td class="head" width="100"><{$_AM_TOPICNAME}></td>
        <td class="even"><input type="text" name="topic_title" size="20" maxlength="40" /> <{$_AM_MAX40CHAR}></td>
      </tr>
      <tr>
        <td class="head"><{$_AM_PARENTTOPIC}></td>
        <td class="even"><{$topicselbox}></td>
      </tr>
      <tr>
        <td class="head"><{$_AM_TOPICIMG}></td>
        <td class="even">
          <select size="1" name="topic_imgurl">
          <option value="">------</option>
          <{foreach item=i from=$images}>
          <option value="<{$i.image}>"><{$i.image}></option>
          <{/foreach}>
          </select><br />
          <{$_AM_IMGNAEXLOC}>
        </td>
      </tr>
      <tr>
        <td class="head"></td>
        <td class="even">
          <input type="hidden" name="op" value="addTopic" />
          <input type="submit" value="<{$_AM_ADD}>" />
        </td>
      </tr>
    </tbody>
  </table>
</form>

<br />

<{if $topics_exists}>
  <form method="post" action="index.php">
    <table class="outer" cellspacing="1" width="100%">
      <tbody>
        <tr><th colspan="2"><{$_AM_MODIFYTOPIC}></th></tr>
        <tr>
          <td class="head" width="100"><{$_AM_TOPIC}></td>
          <td class="even"><{$topicselbox2}></td>
        </tr>
        <tr>
          <td class="head"></td>
          <td class="even">
            <input type="hidden" name="op" value="modTopic" />
            <input type="submit" value="<{$_AM_MODIFY}>" />
          </td>
        </tr>
      </tbody>
    </table>
  </form>
<{/if}>

<{/strip}>