<{strip}>
<table width="100%" border="0" cellspacing="1" class="outer">
  <tr>
    <td class="odd">
      <h4><a href="<{$myurl}>/admin/"><{$admin_title}></a>&nbsp;&raquo;&raquo;&nbsp;<{$page_title}></h4>
    </td>
  </tr>
</table>
<br />
<{if $preview}>
  <table width="100%" border="0" cellspacing="1" class="outer">
    <tr>
      <td class="odd">
        <p>
          <b><{$title}></b><br />
          <br />
          <{$hometext}><br />
          <br />
          <{$bodytext}><br />
          <br />
        </p>
      </td>
    </tr>
  </table>
  <br />
<{/if}>

<{$form}>

<{/strip}>