<{strip}>
<table width="100%" border="0" cellspacing="1" class="outer">
  <tr>
    <td class="odd">
      <h4><a href="<{$myurl}>/admin/"><{$admin_title}></a>&nbsp;&raquo;&raquo;&nbsp;<{$_MI_BULLETIN_ADMENU5}></h4>
    </td>
  </tr>
</table>
<{if $submissions}>
<p>
  <strong><{$_AM_WAITING_ARTICLES}></strong>
  &nbsp;&nbsp;<a href="<{$myurl}>/admin/index.php?op=listall&amp;statu=newsubmission"><{$_AM_DISP_CONTENUE}></a>
</p>
<table class="outer" cellpadding="4" cellspacing="1" width="100%">
  <tr align="center">
    <th width="40"><{$_AM_STORYID}></th>
    <th><{$_AM_TITLE}></th>
    <th width="100"><{$_AM_TOPIC}></th>
    <th width="100"><{$_AM_POSTER}></th>
    <th width="150"><{$_AM_POSTED}></th>
    <th width="150"><{$_AM_EXPIRED}></th>
    <th width="80"><{$_AM_ACTION}></th>
  </tr>
  <{foreach item=i from=$submissions}>
    <tr align="center" class="<{cycle values="odd,even"}>">
      <td><{$i.storyid}></td>
      <td align="left"><{$i.title}></td>
      <td><{$i.topic}></td>
      <{if $i.uid}>
        <td><a href="<{$xoops_url}>/userinfo.php?uid=<{$i.uid}>"><{$i.uname}></a></td>
      <{else}>
        <td><{$i.uname}></td>
      <{/if}>
      <td><{$i.created}></td>
      <td><{$i.expired}></td>
      <td><a href="index.php?op=form&amp;storyid=<{$i.storyid}>"><{$_AM_EDIT}></a>
      &nbsp;<a href="index.php?op=delete&amp;storyid=<{$i.storyid}>"><{$_AM_DELETE}></a></td>
    </tr>
  <{/foreach}>
</table>
<{/if}>

<{if $autostories}>
<p>
  <strong><{$_AM_AUTOARTICLES}></strong>
  &nbsp;&nbsp;<a href="<{$myurl}>/admin/index.php?op=listall&amp;statu=autostory"><{$_AM_DISP_CONTENUE}></a>
</p>

<table class="outer" cellpadding="4" cellspacing="1" width="100%">
  <tr align="center">
    <th width="40"><{$_AM_STORYID}></th>
    <th><{$_AM_TITLE}></th>
    <th width="100"><{$_AM_TOPIC}></th>
    <th width="100"><{$_AM_POSTER}></th>
    <th width="150"><{$_AM_PROGRAMMED}></th>
    <th width="150"><{$_AM_EXPIRED}></th>
    <th width="80"><{$_AM_ACTION}></th>
  </tr>
  <{foreach item=i from=$autostories}>
    <tr align="center" class="<{cycle values="odd,even"}>">
      <td><{$i.storyid}></td>
      <td align="left"><{$i.title}></td>
      <td><{$i.topic}></td>
      <{if $i.uid}>
        <td><a href="<{$xoops_url}>/userinfo.php?uid=<{$i.uid}>"><{$i.uname}></a></td>
      <{else}>
        <td><{$i.uname}></td>
      <{/if}>
      <td><{$i.published}></td>
      <td><{$i.expired}></td>
      <td><a href="index.php?op=form&amp;storyid=<{$i.storyid}>"><{$_AM_EDIT}></a>
      &nbsp;<a href="index.php?op=delete&amp;storyid=<{$i.storyid}>"><{$_AM_DELETE}></a></td>
    </tr>
  <{foreachelse}>
    <tr><td colspan="7"><{$_AM_NO_ARTICLES}></td></tr>
  <{/foreach}>
</table>
<{/if}>

<p>
  <strong><{$_AM_PUB_ARTICLES}></strong>
  &nbsp;&nbsp;<a href="<{$myurl}>/admin/index.php?op=listall&amp;statu=laststory"><{$_AM_DISP_CONTENUE}></a>
</p>

<table class="outer" cellpadding="4" cellspacing="1" width="100%">
  <tr align="center">
    <th width="40"><{$_AM_STORYID}></th>
    <th><{$_AM_TITLE}></th>
    <th width="100"><{$_AM_TOPIC}></th>
    <th width="100"><{$_AM_POSTER}></th>
    <th width="150"><{$_AM_PUBLISHED}></th>
    <th width="150"><{$_AM_EXPIRED}></th>
    <th width="80"><{$_AM_ACTION}></th>
  </tr>
  <{foreach item=i from=$published}>
    <tr align="center" class="<{cycle values="odd,even"}>">
      <td><{$i.storyid}></td>
      <td align="left"><{$i.title}></td>
      <td><{$i.topic}></td>
      <{if $i.uid}>
        <td><a href="<{$xoops_url}>/userinfo.php?uid=<{$i.uid}>"><{$i.uname}></a></td>
      <{else}>
        <td><{$i.uname}></td>
      <{/if}>
      <td><{$i.published}></td>
      <td><{$i.expired}></td>
      <td><a href="index.php?op=form&amp;storyid=<{$i.storyid}>"><{$_AM_EDIT}></a>
      &nbsp;<a href="index.php?op=delete&amp;storyid=<{$i.storyid}>"><{$_AM_DELETE}></a></td>
    </tr>
  <{/foreach}>
</table>

<{if $expired}>
<p>
  <strong><{$_AM_EXPARTS}></strong>
  &nbsp;&nbsp;<a href="<{$myurl}>/admin/index.php?op=listall&amp;statu=expstory"><{$_AM_DISP_CONTENUE}></a>
</p>

<table class="outer" cellpadding="4" cellspacing="1" width="100%">
  <tr align="center">
    <th width="40"><{$_AM_STORYID}></th>
    <th><{$_AM_TITLE}></th>
    <th width="100"><{$_AM_TOPIC}></th>
    <th width="100"><{$_AM_POSTER}></th>
    <th width="150"><{$_AM_PUBLISHED}></th>
    <th width="150"><{$_AM_EXPIRED}></th>
    <th width="80"><{$_AM_ACTION}></th>
  </tr>
  <{foreach item=i from=$expired}>
    <tr align="center" class="<{cycle values="odd,even"}>">
      <td><{$i.storyid}></td>
      <td align="left"><{$i.title}></td>
      <td><{$i.topic}></td>
      <{if $i.uid}>
        <td><a href="<{$xoops_url}>/userinfo.php?uid=<{$i.uid}>"><{$i.uname}></a></td>
      <{else}>
        <td><{$i.uname}></td>
      <{/if}>
      <td><{$i.published}></td>
      <td><{$i.expired}></td>
      <td><a href="index.php?op=form&amp;storyid=<{$i.storyid}>"><{$_AM_EDIT}></a>
      &nbsp;<a href="index.php?op=delete&amp;storyid=<{$i.storyid}>"><{$_AM_DELETE}></a></td>
    </tr>
  <{/foreach}>
</table>
<{/if}>
<{include file="$template_path/bulletin_footer.html"}>

<{/strip}>