<{strip}>
  
  <{assign var="lang_postedby" value=$block.lang_postedby}>
  <{assign var="lang_on" value=$block.lang_on}>
  <{assign var="lang_reads" value=$block.lang_reads}>
  <{assign var="lang_readmore" value=$block.lang_readmore}>
  <{assign var="myurl" value=$block.myurl}>

<{foreach item=fullstory from=$block.fullstories}>
  <{include file="db:bulletin_item.html" story=$fullstory}>
  <br />
<{/foreach}>

<ul>
  <{foreach item=story from=$block.stories}>
  <li><a href="<{$block.myurl}>/article.php?storyid=<{$story.id}>"><{$story.title}></a>
  <{if $block.type == "published"}>
    (<{$story.date}>)
  <{else}>
    (<{$story.hits}>)
  <{/if}>
  </li>
  <{/foreach}>
</ul>

<{/strip}>